<%= render "navigation/navbar" %>


<div class="container mt-3">
  <div class="row justify-content-between">
    <% @random_categories.each do |category| %>
      <div class="col-md-2 text-center">
        <%= link_to category.capitalize, root_path(category: category), class: 'btn btn-dark' %>
      </div>
    <% end %>
  </div>
</div>

<form action="/" method="get">
<div class="container">
  <div class="row" style="padding-top: 35px;">
    <div class="col-md-4 d-flex align-items-center">
      <h4>Ordernar Por:</h4>
    </div>
    <div class="col-md-4">
      <%= label_tag(:price_min, "Precio mínimo") %>
      <%= number_field_tag(:price_min, params[:price_min], class: "form-control form-control-sm") %>
    </div>
    <div class="col-md-4">
      <%= label_tag(:price_max, "Precio máximo") %>
      <%= number_field_tag(:price_max, params[:price_max], class: "form-control form-control-sm") %>
    </div>
  </div>
  <div class="row justify-content-end mt-3">
    <div class="col-md-6">
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Filtrar</button>
        <%= link_to "Borrar filtros", root_path(clear_filters: ''), class: 'btn btn-secondary ml-3' %>
      </div>
    </div>
  </div>

  <h5>
  <%= link_to "Ordenar por nombre del producto (ascendente)", root_path(sort: :name) %>
  </h5>
  </div>
</form>


<table class="table table-striped">
  <tbody>
  <div class="container" style="padding-top: 60px;">

    <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="<%= product['images']&.first || product['image'] %>"  alt="Producto" class="card-img-top mx-auto d-block" style="width: 200px; height: 200px;">
          <div class="card-body">
            <h5 class="card-title"><%= product['title'] %></h5>
            <p class="card-text"><%= product['description'] %></p>
            <p class="card-text">Precio: <%= number_to_currency(product['price']) %> MXN</p>
            <p><%= link_to 'Ver Detalle', show_product_path(product: product), class: "btn btn-primary" %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  </div>
  </tbody>
</table>
