<div class="row mt-3">
  <div class="col-md-6">
    <div id="product-images" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <% if @product['images'].is_a?(Array) %>
          <% @product['images'].each_with_index do |_url_image, index| %>
            <% if index == 0 %>
              <li data-target="#product-images" data-slide-to="0" class="active"></li>
            <% else %>
              <li data-target="#product-images" data-slide-to="<%= index %>"></li>
            <% end %>
          <% end %>
        <% end %>
      </ol>
      <div class="carousel-inner">
      <% if @product['images'].is_a?(Array) %>
        <div class="carousel-item active">
          <div class="card-body">
              <img src=<%= @product['images'].first %> class="card-img-top mx-auto d-block" style="width: 400px; height: 500px; alt="Imagen del producto">
          </div>
        </div>
        <% if @product['images'].count > 1 %>
          <% @product['images'][1...].each do |url_image| %>
            <div class="carousel-item">
              <img src=<%=url_image%>  class="card-img-top mx-auto d-block" style="width: 400px; height: 500px; alt="Imagen del producto">
            </div>
          <% end %>
        <% end %>
      <% end %>
      </div>
      <a class="carousel-control-prev" href="#product-images" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#product-images" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
      </a>
    </div>
  </div>
  <div class="col-md-6">
    <h2><%= @product['title'] %></h2>
    <label class="font-weight-bold">Precio Unitario: <span id="unit-price" data-price="<%= @product.price %>">$<%= @product.price %></span></label>
    <p><%= @product['description']%></p>
    <p>Categoria: <%= @product['category'].capitalize%></p>
    <p>Rating: <%= @product['rating']%></p>
    <p>Stock: <%= @product['stock']%></p>
   
    <%= form_tag add_to_cart_path(product: @product.to_h), method: :post do %>
      <% if @product['stock'].to_i > 0 %>
        <label for="quantity">Cantidad:</label>
        <%= number_field_tag :quantity, 1, min: 1, class: "form-control", id: "quantity-input" %>
        <label for="total_cost" '<%= %>' >Costo total:</label>
        <p id="total-cost-display"></p>
        <%= submit_tag 'Añadir al Carrito', class: 'btn btn-primary' %>
        <% if current_user&.cart&.product_items && current_user.cart.product_items.count > 0 %>
          <a href="<%= cart_path %>" class="btn btn-primary">Ir al carrito</a>
        <% end %>
        <a href="<%= root_path %>" class="btn btn-primary">Volver al Home</a>
      <% else %>
        <p>No hay Stock Disponible de este producto</p>
      <% end %>
    <% end %>
  </div>
</div>