<div class="row mt-3">
  <div class="col-md-6">
    <div id="product-images" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#product-images" data-slide-to="0" class="active"></li>
        <li data-target="#product-images" data-slide-to="1"></li>
        <li data-target="#product-images" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
      <% if @product['images'].is_a?(Array) %>
        <div class="carousel-item active">
            <img src=<%= @product['images'].first %> class="d-block w-100" alt="Imagen del producto">
        </div>
            <% @product['images']. shift %>
            <% @product['images'].each do |url_image| %>
                <div class="carousel-item">
                    <img src=<%=url_image%>  class="d-block w-100" alt="Imagen del producto">
                </div>
            <% end %>
      <% else %>
            <div class="carousel-item active">
                <img src=<%= @product['images'] %> class="d-block w-100" alt="Imagen del producto">
             </div>
      <% end %>
      </div>
      <a class="carousel-control-prev" href="#product-images" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#product-images" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
      </a>
    </div>
  </div>
  <div class="col-md-6">
    <h2><%= @product['title'] %></h2>
    <p class="font-weight-bold">Precio: <%= number_to_currency(@product['price']) %></p>
    <p><%= @product['description']%></p>
    <p>Categoria: <%= @product['category'].capitalize%></p>
    <p>Rating: <%= @product['rating']%></p>
    <p>Stock: <%= @product['stock']%></p>
    <form>
      <div class="form-group">
        <label for="cantidad">Cantidad:</label>
        <input type="number" class="form-control" id="cantidad" name="cantidad" value="1">
      </div>
      <% if@product['stock'].to_i < 0 %>
            <button type="submit" class="btn btn-primary">Agregar al carrito</button>
      <% else %>
            <p>No hay stock suficiente disponible</p>
      <% end %>
      <%= link_to "Volver", root_path %>
    </form>
  </div>
</div>